main{
    div{
            h1{
                color:$colortitulo;
            }

            section{
                background-color: gray;
            }
        
            section{
                background-color: gray;
            }
        
            section{
                background-color: gray;
            }

          }

    }

